
{% extends "base.html" %}

{% load bootstrap %}

{% block content %}

<div class="row">
	<div class="col-md-3">
		{% include 'sidebar.html' %}
	</div>
	<div class="col-md-9">
		<ol class="breadcrumb">
			<li><a href="{% url 'usuarios:list' %}">Usuários</a></li>
			{% for b in breadcrumbs %}
				<li><a href="{% url b.url %}">{{ b }}</a></li>
			{% endfor %}
		</ol>

		<h4><strong>User:</strong> {{ usuario.user.username }}</h4>

		<h4><strong>Revenda:</strong> {{ usuario.revenda }}</h4>
		<form action="" method="post">{% csrf_token %}
			{{ form|bootstrap }}
		    <input type="submit" class="btn btn-primary" value="Salvar alterações" />
		</form>
	</div>
</div>
{% endblock %}