{% extends "base.html" %}

{% block content %}

<div class="row">
	<div class="col-md-3">
		{% include 'sidebar.html' %}
	</div>
	<div class="col-md-9">
		<ol class="breadcrumb">
			<li><a href="{% url 'usuarios:list' %}">Usuários</a></li>
			{% for b in breadcrumbs %}
				<li><a href="{% url b.url %}">{{ b }}</a></li>
			{% endfor %}
		</ol>
		<h2>Usuários cadastrados</h2>
		<p class="pull-right"><a href="{% url 'usuarios:create' %}" class="btn btn-primary"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Adicionar usuário</a></p>
		<div class=".table-responsive">
			<table class="table table-striped">
				<tr>
					<th>User</th>
					<th>Revenda</th>
					<th>Cliente</th>
					<th>Produtos</th>
					<th>Opções</th>
				</tr>
				{% if not usuarios %}
				<tr>
					<td colspan="5">Nenhum usuário cadastrado</td>
				</tr>
				{% endif %}
				{% for u in usuarios %}
				<tr>
					<td>{{ u.user.username }}</td>
					<td>{{ u.revenda }}</td>
					<td>{{ u.cliente }}</td>
					{% if u.cliente.produtos.exists %}
						<td>
						{% for p in u.cliente.produtos.all %}
							{% if forloop.last %}<a href="{% url 'produtos:detail' p.id %}">{{ p }}</a>.{% else %}<a href="{% url 'produtos:detail' p.id %}">{{ p }}</a>, {% endif %}
						{% endfor %}
						</td>
					{% endif %}
					<td><a href="{% url 'usuarios:update' u.id %}"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Editar</a> <a href=""><span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Apagar</a></td>
				</tr>
				{% endfor %}
			</table>
		</div>
	</div>
</div>
{% endblock %}